---
layout: default
---

{% include headerIntro.html %}

<div class="wrap container margin size cards">
  {% if site.posts.size == 0 %}
  <h2>No post found</h2>
  {% else %} {% for post in site.posts %}
  <div class="card col-12 col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="item-card">
      <div class="item-card-image">
        <a href="{{ site.baseurl }}{{ post.url }}">
          <img src="http://img.youtube.com/vi/{{ post.youtube }}/0.jpg" width="100%" alt="">
        </a>
      </div>
      <div class="item-card-title">
        <h2 class="list-post-title flex-grow-1">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <time class="flex-basis-50">{{ post.date | date_to_string }}</time>
      </div>
    </div>
  </div>

  {% endfor %} {% endif %}
</div>