<div class="header container align-items-center justify-content-center">
  <div class="header-box">
    <h1>Casa de pau records</h1>
    <p>Conheça os lançamentos do nosso role.</p>
  </div>
</div>


<style>
  .header {
    min-height: calc(100vh - 100px);
    width: 100%;
    background: #222;
    color: #fff;
    overflow: hidden;
    margin-bottom: 50px;
  }

  .header h1 {
    color: #fff;
    font-size: 4em;
    text-transform: uppercase
  }

  .header-box {
    text-align: center;
    width: 500px;
    max-width: 90%;
  }

  @media screen and (max-width: 480px) {
    .header h1 {
      font-size: 2.5em;
    }
  }
</style>