<div class="relative-menu">
  <div class="menu">
    <div class="menu-content size margin container align-items-center justify-content-between full-height">
      <h1 class="menu-logo">
        <a href="{{ site.baseurl }}/">Casa de Pau</a>
      </h1>
      <nav class="menu-links">
        {% for page in site.pages %} {% if page.title %}
        <a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> {% endif %} {% endfor %}
      </nav>

      <div class="menu-hamburg" id="btnShowMenu">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
      </div>
    </div>

    <div class="menu-content-responsive menu-close" id="menuResponsive"></div>

  </div>
</div>

<style>
  .relative-menu,
  .menu,
  .menu-content {
    min-height: 100px;
    background: #222;
    color: #fff;
  }
  .relative-menu .menu .menu-content a {
    color: #fff;
  }

  .relative-menu {
    width: 100%;
    position: relative
  }

  .menu {
    position: fixed;
    width: 100%;
  }
  .menu-logo {
    font-size: 2em
  }

  .menu-content {}

  .menu-hamburg {
    display: none;
    transition: .3s;
    cursor: pointer
  }
  @media screen and (max-width: 480px) {
    .menu-links {
      display: none
    }
    .menu-logo {
      font-size: 1.5em
    }
    .menu-hamburg {
      display: block
    }
  }


  .menu-content-responsive {
    width: 100vw;
    height: 100vh;
    background: #ccc;
    position: fixed
  }



  .menu-open {
  transition: .5s;
  display: block!important;
  animation-name: menuOpen;
  animation-duration: .5s;
  animation-fill-mode: backwards; /*forwards backwards */
  /*animation-iteration-count: infinite;*/
  animation-timing-function: linear;
}

.menu-close {
  transition: .5s;
  display: none;
  animation-name: menuClose;
  animation-duration: .5s;
  animation-fill-mode: backwards; /*forwards backwards */
  /*animation-iteration-count: infinite;*/
  animation-timing-function: linear;
  transform: translateX(-100vh);
}
@keyframes menuOpen {
  from{
       /*opacity: 0;*/
       transform: translateX(-100vh);
     }
    to {
      /*opacity: 1;*/
      transform: translateX(0px);
    }
}
@keyframes menuClose {
  from{
       /*opacity: 1;*/
       transform: translateX(0px);
     }
    to {
      /*opacity: 0;*/
      transform: translateX(-100vh);
    }
}
</style>