a {
    color: #333
}

.cards {
    padding-bottom: 30px;
}

.cards .card {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
}

.cards .card .item-card {
    box-sizing: border-box;
    width: 90%;
    margin: 0 auto;
}

.cards .card .item-card .list-post-title {
    font-size: 1em;
}

.cards .card .item-card .list-post-title a:hover {
    color: #50FA7B!important
}

.item-card-image {
    background: #222;
    widows: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px;
}
.video-youtube {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.video-youtube iframe {
  max-width: 100%
}