---
layout: default
---

<img src="http://img.youtube.com/vi/{{ page.youtube }}/maxresdefault.jpg" width="100%" alt="">
<article class="content post">
    
<div class="size-content">
    <div class="container wrap justify-content-between align-items-baseline">
        <h1 class="post-title">{{ page.title }}</h1>
        <div class="post-date">
            <time>{{ page.date | date_to_string }}</time>
        </div>
    </div>
    <div class="video-youtube">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}?showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
     <div>
         {{ content }}
     </div>
</div>

    <!-- {% include comments.html %} -->
</article>

<style>
    .size-content {
        width: 90%;
        margin: 0 auto
    }
</style>